        /* conteudo */

        body {
            background-color: #cfdfc6;
        }

        header {
            background-color: #88d1ad;
            padding-top: 10px;
            margin: 10px;
            border-radius: 10px;
            margin-bottom: 5%;
        }

        h1 {
            color: #fff;
        }

        section {
            display: block;
            margin-bottom: 10px;
        }


        p,
        #resultado,
        span {
            text-align: center;
            color: #fff;
            font-size: 25pt;
            margin-bottom: 0px;
        }

        .d-flex {
            justify-content: space-around;
        }

        /* botão */

        #calcularPreco {
            padding: 11px;
            width: 25%;
            font-size: 15pt;
            background-color: #500363;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            box-shadow: 5px 5px 10px #5e1646;
        }

        #btnZerarCalc{
            width: 25%;
            padding: 11px;
            font-size: 15pt;
            background-color: #f3bdbd;
            color: #f30909;
            border: none;
            border-radius: 10px;
            box-shadow: 5px 5px 10px #5f6569;
        }

        /* containers */

        #calcProduto {
            background-color: #88d1ad;
            border-radius: 10px;
            padding: 15px;
            width: 500px;
            margin: auto;
            box-shadow: 5px 5px 10px #3f3a3a;
            color: #ffffff;
        }

        div {
            text-align: center;
            padding: 10px;
        }

        #produto,
        #preco,
        #quantidade{
            text-align: center;
            height: 50px;
            width: 30%;
            border-radius: 8px;
            font-size: 23px;
        }


        /* rodapé  */
        footer {
            position: float;
            bottom: 0;
            background-color: #88d1ad;
            margin: 10px;
            border-radius: 10px;
            color: white;
        }

        footer p {
            color: white;
            text-align: center;
            font-style: italic;

        }